fastapi==0.110.0
uvicorn==0.28.0
python-multipart==0.0.9
chromadb==0.4.24
langchain==0.1.13
langchain-community==0.0.29
groq==0.4.2
pymupdf==1.24.1
pydantic==2.6.4
sentence-transformers==2.6.0
python-dotenv==1.0.1
